.everything{
  position: relative;
}

.navigation{
  position: absolute;
  left: 80%;
  top: 5%;
  width: 200px;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 1;
  border-right: solid 2px #ffffff;
}

a{
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 11px;
  letter-spacing: 2px;
  padding: 5px;
  text-decoration: none;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: : space-around;
  z-index: 1;
}


/*audio player*/
#audioplayer{
  width: 60px;
  height: 500px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

#pButton{
    height: 80px; 
    width: 80px;
    margin: 20px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    outline:none;
}

.play{background: url('../images/play.svg') ;}
.pause{background: url('../images/pause.svg') ;}

#timeline{
  width: 2px;
  height: 90%;
  border-radius: 15px;
  background: #ffffff;
  z-index: 1; 
}

#playhead{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: 1px;
  background: #ffffff;
  z-index: 2;
}

#centerContent {
  width: 500px;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}


/*gradient animation*/

body {
background: linear-gradient(91deg, #a8edea, #fed6e3);
background-size: 400% 400%;

-webkit-animation: gradientFlow 10s ease infinite;
-moz-animation: gradientFlow 10s ease infinite;
animation: gradientFlow 10s ease infinite;
overflow: hidden;
}

@-webkit-keyframes gradientFlow {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@-moz-keyframes gradientFlow {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes gradientFlow { 
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}


/*wave animation*/

#waves{
  z-index: 2;
  position: relative;
  top: -100px;
  width: 100%;
  height: 100%;
}

#wave1{
/*  transform: scale(3);*/
  position: absolute;
  z-index: 1;
  opacity: 0;

  -webkit-animation: waveFlow 10s infinite;
  -moz-animation: waveFlow 10s infinite;
  animation: waveFlow 10s infinite;
}

#wave2{
  transform: scale(3);
  position: absolute;
  z-index: 2;
  opacity: 0;

  -webkit-animation: waveFlow 15s infinite;
  -moz-animation: waveFlow 15s infinite;
  animation: waveFlow 15s infinite;
}

#wave3{
  transform: scale(3);
  position: absolute;
  z-index: 3;
  opacity: 0;

  -webkit-animation: waveFlow 12s ease infinite;
  -moz-animation: waveFlow 12s ease infinite;
  animation: waveFlow 12s ease infinite;
}

#wave4{
  transform: scale(3);
  position: absolute;
  z-index: 4;
  opacity: 0;

  -webkit-animation: waveFlow 8s ease infinite;
  -moz-animation: waveFlow 8s ease infinite;
  animation: waveFlow 8s ease infinite;
}

@-webkit-keyframes waveFlow {
    0%{transform: translateX(-100%) scale(3);
       opacity: 0;}
    50%{opacity: 1;}
    100%{transform: translateX(200%) scale(3);
         opacity: 0;}
}
@-moz-keyframes waveFlow {
    0%{transform: translateX(-100%) scale(3);
       opacity: 0;}
    50%{opacity: 1;}
    100%{transform: translateX(200%) scale(3);
         opacity: 0;}
}
@keyframes waveFlow { 
    0%{transform: translateX(-100%) scale(3);
       opacity: 0;}
    50%{opacity: 1;}
    100%{transform: translateX(200%) scale(3);
         opacity: 0;}
}








